/* @mixin shrinklabel{
    top:-14px;
    font-size:16px;
    color:black;
} */

.group{
    position: relative;
    margin: 10px 0;
}
.form-input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    background-color: #fff;
    border-bottom: 1px solid black;
    margin: 20px 0;
    padding: 5px 10px 20px 15px;
    display: block;
}

.form-input:focus~ .form-input-label{
     top:-15px;
    font-size:16px;
    color:black;
    display: block;
}

.form-input-label{
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    top:0px;
    left:5px;
    display: block;
    transition: 300ms ease all;
}

.form-input:valid~.form-input-label{
    top:-15px;
   font-size:16px;
   color:black;
   display: block;
}
